{% import 'site/static.html' as get_swatch with context %}
<!-- TODO handle bootstrap 2 and 4 swatches -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% block web_fonts %}
    <!-- TODO handle URLs for web fonts -->
    {% endblock %}
    {% block head_css %}
        <link href="{{ get_swatch }}", rel="stylesheet">
        {%if config.get('FLASK_ADMIN_SWATCH', 'default') == 'default' %}
        <link href="{{ url_for('static', filename='bootstrap/bootstrap3/css/bootstrap-theme.min.css', v='3.3.5') }}" rel="stylesheet">
        {%endif%}
        <link href="{{ url_for('static', filename='site/css/bootstrap3/site.css', v='1.1.1') }}" rel="stylesheet">
	    <link href="{{ url_for('static', filename='site/css/bootstrap3/submenu.css') }}" rel="stylesheet">

    <!-- include libraries(jQuery, bootstrap) -->
        <script src="{{ url_for('static', filename='vendor/jquery.min.js', v='3.3.1') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='bootstrap/bootstrap3/js/bootstrap.min.js', v='3.3.5') }}" type="text/javascript"></script>
    {% endblock %}
    {% block head %}
    {% block style %}
    {% endblock %}
    {% endblock %}
</head>
<body>
{% block menu %}
{% endblock %}
{% block body %}
{{ static }}
{% block content %}
{% endblock %}
{% endblock %}
</body>
</html>