{% extends 'site/base.html' %}
{% block web_fonts %}
    <link href="https://fonts.googleapis.com/css?family=Caveat|Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina+2|Comfortaa|Didact+Gothic|PT+Mono&display=swap" rel="stylesheet">
{% endblock %}

{% block style %}
<style>
    .page-text {
        font-family: Caveat, cursive;
        font-size: 48px;
        max-width: 100%;
        height: auto;
    }
</style>
{% endblock %}

{% block content %}
<div class="container page-text">
    <!-- TODO template this to editor file -->
    {% block home_header %}
    Check out /admin/ for the tutorial on Summernote WYSIWYG editor in Flask-Admin
    {% endblock %}
    {% block posts %}
    <img src="/templates/content/images/exotic_entymology/III/III_49.jpg" style="max-width: 100%">
    {% endblock %}
</div>
{% endblock %}
