{% extends 'admin/master.html' %}

{{ super }}

{% block summernote %}
<h1 class="page-header">Summernote</h1>
<h1 class="page-link"><a href="https://summernote.org/deep-dive/">Read the docs</a></h1>
<form method="post" id="publisher" name="publisher" role="form" action="{{ url_for('publish_content.index') }}" enctype=multipart/form-data>
    <input type="file">
    <textarea name="summary" id="summary" placeholder="Add optional summary text">

    </textarea>
    <input type="file">
    <input name="preview" type="submit" value="Preview">
    <input name="draft" type="submit"  value="Save Draft" />
    <input name="publish" type="submit" value="Publish" />

</form>

{% endblock %}


