{% extends 'admin/master.html' %}

{% block body %}
<h1 class="page-header">Summernote In Flask-Admin</h1>
<h1 class="page-link"><a href="https://flask-admin.readthedocs.io/en/latest/">Read the docs</a></h1>
<img class="responsive" src="{{ url_for('static', filename='admin_heading.png') }}" alt="">
    <h4 class="responsive container page-text"><p class="responsive">All template blocks left content-free render as if the base template
        blocks also contain nothing even if they are loaded.</p><br><p class="responsive">
        templates/admin/base.html cannot be modified without editing it.</p><br><p class="responsive">
        The templates/admin/index.html template will render the admin Home view (index_view)
        without the need to create an admin view.</p><br><p class="responsive">
        base, master, static, and layout templates can be found in the
        templates/bootstrap3/admin dir in the flask_admin site-package once Flask-Admin is installed
        in the virtual environment. </p><br><p class="responsive">
        However, they can be edited or overwritten from the templates/admin dir or in the extension dir.
</p></h4>
{% endblock %}
{{ super }}

