{% extends 'admin/base.html' %}

{% block web_fonts %}
<link href="https://fonts.googleapis.com/css?family=Caveat|Permanent+Marker&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina+2|Comfortaa|Didact+Gothic|PT+Mono&display=swap" rel="stylesheet">
{% endblock %}
{% block brand %}
<a class="navbar-brand" href="{{ admin_view.admin.url }}">Flask-Admin</a>
{% endblock %}
{% block style %}
<style>
    .page-link{
        font-family: 'Didect Gothic', sans-serif;
        font-size: 48px;
        color: black
    }
    .page-header {
        font-family: 'Didect Gothic', sans-serif;
        color: slategray;
        size: 48px;
    }
    .page-text {
        font-family: 'Comfortaa', cursive;
        font-size: 32px;
        color: black;
    }
    .responsive {
        max-width: 100%;
        height: auto;
    }
</style>
{% endblock %}
{% block head %}
        <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.css" rel="stylesheet">
{% endblock %}
{% block tail_js %}
    <!-- include summernote js -->
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.js"></script>
{% endblock %}

{{ super }}
