{% extends 'admin/master.html' %}

{{ super }}
{% block summernote %}
<h3>WYSIWYG Editor</h3><br>
<input id="edit" value="Editor" onclick="edit()" onload="clickEdit()" type="submit">
<input id="preview" value="HTML" onclick="preview()" type="submit">

<form method="post" role="form" action="{{ url_for('compose.index') }}" enctype=multipart/form-data>
    <input type="text" name="title" placeholder="Title"><br><br>
    <textarea name='file' class="click2edit container" style="padding-top: 15px">

    </textarea><br>
    <input name="continue_editing" type="submit"  value="Preview and Save" onclick="texthtml()"/>
    <input name="add_another" type="submit" value="Save and Add Another" onclick="texthtml()" />
    <input name="save" type="submit" value="Save, Go to Files" onclick="texthtml()"/>

</form>
<script type="text/javascript">
    window.onload = function () {
    document.getElementById("edit").click()
    };
</script>
<script>
    edit = function() {
        $('.click2edit').summernote({
            focus: true,
            placeholder: 'write here...',
            codemirror: {
                theme: 'monokai'
            }
        });
    };

    preview = function() {
        $('.click2edit').summernote('code');
        $('.click2edit').summernote('destroy');
    };

    var texthtml = function() {
        $('.click2edit').summernote('code');
    };
</script>
{% endblock %}